# .github/workflows/ec2.yml
name: EC2 Deployment

on:
  workflow_dispatch:

jobs:
  deploy-ec2:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 instance and run deploy script
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script_path: resources/deploy_ec2.sh
