name: EC2 Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy_ec2:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Deploy to EC2 using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 98.82.26.255
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            chmod +x ~/deploy_ec2.sh
            ~/deploy_ec2.sh
