name: EC2 Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script_stop: true
          script: |
            cd /home/ec2-user/dice
            git pull
            sudo systemctl restart diceapp
            sudo systemctl status diceapp --no-pager -l