# .github/workflows/ec2.yml
name: EC2 Deploy

on:
  workflow_dispatch:

jobs:
  deploy-ec2:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.EC2_HOST }}      # your EC2 public IP / DNS
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}        # your csd215-keypair.pem contents
          script_path: resources/deploy_flask_app.sh
