name: Lambda Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types: 
      - completed
  workflow_dispatch:

jobs:
  deploy_lambda:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: aws-lab
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Make deploy script executable
        run: chmod +x resources/deploy_lambda.sh

      - name: Run Lambda deployment script
        run: ./resources/deploy_lambda.sh
