name: Lambda deployment

on:
    workflow_dispatch:
    push: 
            branches:
                - AWS

jobs:
    deploy-lambda:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
                  aws-region: us-east-1

            - name: Deploy to AWS Lambda
              run: |
                chmod +x ./scripts/deploy_lambda.sh
                resources/deploy_lambda.sh
