name: Lambda deployment

on:
  workflow_dispatch:  
  workflow_run:
    workflows: ['test']
    types: [completed]
    branches: [Project]

jobs:
  deploy_lambda:
    if: ${{github.event.workflow_run.conclusion == 'success'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: Project
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: us-east-1
          aws_access_key_id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws_secret_access_key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws_session_token: ${{secrets.AWS_SESSION_TOKEN}}

      - name: Make the script executable
        run: chmod +x deploy_lambda.sh

      - name: Run the script
        run: |
          ./resources/deploy_lambda.sh