name: Test

on: #How to trigger the workflow 
    workflow_dispatch: #Manual trigger from GitHub UI    
    push: #Trigger on push to my Lab branch
        branches:
        - FinalLabAWS
    

jobs: #What to do when triggered 
    test: 
        runs-on: ubuntu-latest # Use an ubuntu environment to run the job
        
        steps: # What to do in the job
            - name: Checkout code 
              uses: actions/checkout@v6
              with:
                  ref: FinalLabAWS

            - name: Set up Python 
              uses: actions/setup-python@v6 
              with:
                  python-version: '3.9'
            
            - name: Install dependencies
              run: pip install -r app/requirements_flask.txt

            - name: Run tests
              run: pytest tests

            - name: Trigger Lambda deploy
              uses: benc-uk/workflow-dispatch@v1
              with:
                  workflow: lambda.yml
                  ref: FinalLabAWS

            - name: Trigger Ec2 deploy
              uses: benc-uk/workflow-dispatch@v1
              with:
                  workflow: ec2.yml
                  ref: FinalLabAWS
