name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: aws-final-lab

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r app/requirements_flask.txt

      - name: Run tests
        run: pytest tests

      - name: Deploy Lambda app
        uses: benc-uk/workflow-dispatch@v1.2.4
        with:
          workflow: 'lambda.yml'

      - name: Deploy EC2 app
        uses: benc-uk/workflow-dispatch@v1.2.4
        with:
          workflow: 'ec2.yml'