name: test

on:
  workflow_dispatch:
  push:
    branches:
      - Project

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: Project

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
            
      - name: Install dependencies
        run: pip install -r app/requirements_flask.txt
            
      - name: Run tests
        run: pytest tests

      - name: Invoke EC2 Deployment
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: ec2.yml

      - name: Invoke Lambda deployment
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Lambda deployment